.github/workflows/n8n/workflows/notify-slack.json
{
    "name": "Notify Slack",
    "nodes": [
      {
        "parameters": {},
        "id": "manual-trigger-id",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [100, 300]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "{\n    \"slack\": {\n      \"token\": \"${SLACK_TOKEN}\",\n      \"channel\": \"${SLACK_CHANNEL_NAME}\"\n    }\n  }",
          "options": {}
        },
        "id": "load-auth-id",
        "name": "Load auth.json",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [300, 300]
      },
      {
        "parameters": {
          "channel": "={{ $json[\"slack\"][\"channel\"] }}",
          "text": "A new push has been made to the main branch!"
        },
        "id": "slack-node-id",
        "name": "Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [500, 300]
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Load auth.json",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load auth.json": {
        "main": [
          [
            {
              "node": "Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }