.github/workflows/n8n/workflows/test-n8n-slack-action.json
{
    "name": "Test n8n Slack Action",
    "nodes": [
      {
        "parameters": {
          "path": "test-n8n-slack",
          "httpMethod": "POST",
          "options": {}
        },
        "id": "webhook-id",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [100, 300],
        "webhookId": "unique-webhook-id-slack-test"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "{\n    \"slack\": {\n      \"token\": \"${SLACK_TOKEN}\",\n      \"channel\": \"${SLACK_CHANNEL_NAME}\"\n    }\n  }",
          "options": {}
        },
        "id": "load-auth-id",
        "name": "Load auth.json",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [300, 300]
      },
      {
        "parameters": {
          "channel": "={{ $json[\"slack\"][\"channel\"] }}",
          "text": "This is a test message from n8n!"
        },
        "id": "slack-node-id",
        "name": "Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 1,
        "position": [500, 300]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Load auth.json",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load auth.json": {
        "main": [
          [
            {
              "node": "Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }