.github/workflows/n8n/workflows/test-n8n-discord-action.json
{
    "name": "Test n8n Discord Action",
    "nodes": [
      {
        "parameters": {
          "path": "test-n8n-discord",
          "httpMethod": "POST",
          "options": {}
        },
        "id": "webhook-id",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [100, 300],
        "webhookId": "unique-webhook-id-discord-test"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "{\n    \"discord\": {\n      \"webhookUrl\": \"${DISCORD_WEBHOOK_URL}\"\n    }\n  }",
          "options": {}
        },
        "id": "load-auth-id",
        "name": "Load auth.json",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [300, 300]
      },
      {
        "parameters": {
          "webhookUrl": "={{ $json[\"discord\"][\"webhookUrl\"] }}",
          "content": "This is a test message from n8n!"
        },
        "id": "discord-node-id",
        "name": "Discord",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 1,
        "position": [500, 300]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Load auth.json",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load auth.json": {
        "main": [
          [
            {
              "node": "Discord",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }