.github/workflows/n8n/workflows/trigger-on-push.json
{
    "name": "Trigger on Push",
    "nodes": [
      {
        "parameters": {
          "path": "trigger-on-push",
          "httpMethod": "POST",
          "options": {}
        },
        "id": "webhook-id",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [100, 300],
        "webhookId": "unique-webhook-id-push"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "{\n    \"trigger\": {\n      \"url\": \"${TRIGGER_URL}\"\n    }\n  }",
          "options": {}
        },
        "id": "load-config-id",
        "name": "Load Config",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [300, 300]
      },
      {
        "parameters": {
          "url": "={{ $json[\"trigger\"][\"url\"] }}",
          "method": "POST",
          "jsonParameters": true,
          "options": {},
          "bodyParametersJson": {
            "repository": "={{$json[\"body\"][\"repository\"]}}",
            "branch": "={{$json[\"body\"][\"branch\"]}}",
            "commit": "={{$json[\"body\"][\"commit\"]}}",
            "author": "={{$json[\"body\"][\"author\"]}}"
          }
        },
        "id": "http-request-id",
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 1,
        "position": [500, 300]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Load Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Config": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }